.vitrine {
    margin: 0;
    position: relative;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #09101A; /* Couleur de fond principale */
    width: 100%;
    height: 100%;
    transition: scale 0.3s ease-in-out;
}


.vitrine img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    filter: brightness(0.5);
    transition: filter 0.3s ease-in-out;
    overflow: hidden;
}

.vitrine:hover {
    scale: 1.1;
}

.vitrine:hover img {
    filter: brightness(1);
}


.vitrine:hover .VitrineTitle{
    opacity: 0;
}

.VitrineTitle {
    font-family: "Quicksand", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity:1;
    padding: 10px;
    font-size:large;
    transition: opacity 0.3s ease-in-out;

}
  
.VitrineSubtitle {
    font-size: 1em;
    color:rgb(247, 233, 196);
}


.navLinkVitrine{
    position: relative;
    width: 200px;
    height: 200px;

}
