.vitrineGrid {

    height: 100%;
    width: clamp(50px, 100%,100%);
    display: grid;
    gap: 35px 0px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    align-content: flex-start;
    align-items: center;
    justify-items: center;
    margin: auto; /* Centre la grille dans son conteneur */
    overflow-y: auto; /* Activer le défilement vertical si nécessaire */


}




