.section {
    margin: 50px 30px;
    padding: 20px ;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #09101ab2; /* Couleur de fond principale */
    min-width: 350px;

}   



.titleSection {
    text-align: center;
    font-size: clamp(13px,3vw,20px);;
    margin-bottom: 10px;
    color:#55E6A5;
}
  
.subtitleSection {
    font-size: clamp(8px,2vw,15px);
    color:rgb(247, 233, 196);
}