.section {
    margin: 50px 70px;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #09101A; /* Couleur de fond principale */
}

.titleSection {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
    color:#55E6A5;
}
  
.subtitleSection {
    font-size: 1em;
    color:rgb(247, 233, 196);
}