


.navIcon {
    display: flex;
    flex-direction: column; /* Change la direction de la flexbox pour disposer les éléments verticalement */
    margin-top: 50px; /* Espacement supplémentaire en haut de chaque élément */
    align-items: center;
    justify-content: center;
}


.navLinkIcon {
    color: #ffffff; 
    text-decoration: none;
    margin-bottom: 10px; /* Espace entre les éléments */
    transition: background-color 0.3s ease,border-radius 0.3s ease;
    border-radius: 10px;
    padding: 5px 10px;
}
  
  
.navLinkIcon.active {
    background-color: #1a1a1a; 
    font-weight: bold;
    color: #ffffff; 
    
  }

.navLinkIcon:hover {
    
    background-color: #000000; 
}