/* Sidebar.css */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 50px; /* Largeur de la barre latérale */
    background-color: #383838;
    transition: width 0.3s ease;
    overflow-x: hidden;
    z-index: 1;

}

.sidebar.open {
    width: 200px; /* Largeur de la barre latérale ouverte */
    font-family: "Quicksand", sans-serif;
}

/* Sidebar.css */
.toggle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px; /* Largeur initiale du bouton */
    height: 30px; /* Hauteur initiale du bouton */
    background-color: #555;
    color: white;
    border: none;
    border-radius: 20%;
    cursor: pointer;
    font-size: 25px; /* Taille de la police de l'icône */
}


.content {
    padding: 20px;
    color: white;
}
