/* App.css */


body {
  display: flex;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Div pour contenir Outlet */
.main-content {
  flex-grow: 1; /* Fait en sorte que ce div prenne tout l'espace disponible */
  padding: 20px; /* Espacement intérieur */
}

.center {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  z-index: -1;
}

.firstColor{
  color:white;
}
.SecondColor{
  color:#55E6A5;
}
.ThirdColor{
  color:#09101A;
}