/* App.css */


body {
  display: flex;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Div pour contenir Outlet */
.main-content {
  flex-grow: 1; /* Fait en sorte que ce div prenne tout l'espace disponible */
  height: 100%;
  
  margin: 0; /* Supprime les marges par défaut du corps */
  padding: 0; /* Supprime les espacements par défaut du corps */
  overflow-x: scroll;
}

.center {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



.firstColor{
  color:white;
}
.SecondColor{
  color:#55E6A5;
}
.ThirdColor{
  color:#09101A;
}

/* Barre de défilement verticale */
::-webkit-scrollbar {
  width: 6px; /* Largeur de la barre de défilement */
}

::-webkit-scrollbar-track {
 opacity: 0;
}

::-webkit-scrollbar-thumb {
  background: #555; /* Couleur de la poignée de la barre de défilement */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #696969; /* Couleur de la poignée de la barre de défilement au survol */
}